# Explore Text dataset

## Approach 

1. Take 20% with labels and "remove" the labels from the other 80%
2. Build a small model on the 20% 
3. Build a tool that can classifiy those

In [1]:
import pandas as pd

### Resources

- https://www.kaggle.com/lakshmi25npathi/sentiment-analysis-of-imdb-movie-reviews
- https://www.rctatman.com/files/Tatman_2019_UnsupervisedNLPKaggleForums.pdf
- https://medium.com/mlearning-ai/explore-make-predictions-and-evaluate-your-ml-models-with-streamlit-and-pipelines-b6c3efeb92ff

In [2]:
data = pd.read_csv('data/raw.csv')

In [3]:
data.head(5)

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.category.value_counts()

ham     4825
spam     747
Name: category, dtype: int64

In [5]:
data.shape

(5572, 2)

In [6]:
N = 600

In [7]:
df = data.groupby('category', group_keys=False).apply(lambda x: x.sample(frac=0.2))

In [8]:
df.category.value_counts()

ham     965
spam    149
Name: category, dtype: int64

## Write to CSV

In [35]:
df.to_csv('data/train.csv', index=False)